{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>TR</title>
    <!-- <link rel="apple-touch-icon" sizes="152x152" href="/static/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicons/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicons/favicon-32x32.png"> -->
    <link rel="manifest" href="/static/favicons/site.webmanifest">
    <link rel="mask-icon" href="/static/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="#">
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons">
    <style>
      #initial_loader{position: absolute;left:0;top:0;width:100%;height:100%;background-color: #ffffff;z-index:9999;text-align: center;}
    </style>
    <script>function fade(t){var e=1,n=setInterval(function(){e<=.1&&(clearInterval(n),t.style.display="none"),t.style.opacity=e,t.style.filter="alpha(opacity="+100*e+")",e-=.1*e},20)}window.onload=function(){setTimeout(function(){fade(document.getElementById("initial_loader"))},500)};</script>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but frontend doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="initial_loader">
      Loading...
    </div>
    <div id="app">
      <app></app>
    </div>
    {% render_bundle 'app' %}
    <!-- built files will be auto injected -->
  </body>
</html>